In [6]:
print("Hello")

Hello

In [4]:
a = 10

In [7]:
print(a)

10

In [8]:
type(a)

int

In [11]:
a = "string"

In [12]:
type(a)

str

In [17]:
n = 20
if (n>15):
    print("Number is greater than 10")
else:
    print("Number is less than 10")
print("Always run")

Number is greater than 10
Always run

In [21]:
i = 0
while i<10:
    print(i, end=" ")
    i +=1

0 1 2 3 4 5 6 7 8 9

In [25]:
for i in range(0, 10, 2):
    print(i, end= " ")

0 2 4 6 8

In [29]:
def new_fun():
    print("This is inside function")

In [30]:
new_fun()

This is inside function

In [34]:
def pattern(n):
    for i in range(n):
        print("*"*(i+1))

In [35]:
pattern(5)

*
**
***
****
*****

## Data Structures

In [36]:
l = [1,5,7,2,7,8]

In [37]:
print(l)

[1, 5, 7, 2, 7, 8]

In [38]:
for ele in l:
    print(ele)

1
5
7
2
7
8

In [39]:
l.append(90)

In [40]:
l

[1, 5, 7, 2, 7, 8, 90]

In [41]:
l.pop(1)

5

In [43]:
l.insert(1, 100)

In [44]:
l

[1, 100, 7, 2, 7, 8, 90]

In [47]:
l

[1, 100, 7, 2, 7, 8, 90]

In [46]:
l[1]

100

In [50]:
l[-1]

90

In [51]:
#  List Slicing  l[s : e+1]
l[1:5+1]

[100, 7, 2, 7, 8]

In [58]:
t1 = (1,2,3)

In [ ]:
t1 = (3, 4,5)

In [59]:
t1

(1, 2, 3)

In [61]:
t1[0] = 34

TypeError: 'tuple' object does not support item assignment